@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
/* basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* mode variables */
:root{
  --color-muted: rgba(255, 255, 255, 0.15);
  --color-banner: #7b68ee;
  --timer-grad: rgba(255, 255, 255, 0.5);
  --bg-url: url("../img/bg/earth.jpg");
  --bg-sidebar: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: #7b68ee;
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
  --color-sidebar: white;
}
.dark{
  --bg-color: #1b182c;
  --color-text: white;
  --bg-timer: #474650;
}
.light {
  --bg-color: #dbdbdb;
  --color-muted: rgba(255, 255, 255, 0.3);
  --color-text: var(--color-banner);
  --bg-timer: whitesmoke;
  --timer-grad: rgba(255, 255, 255, 0.8);
  --timer-box: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
body {
  background: var(--bg-url) var(--bg-color) center no-repeat fixed;
  background-size: cover;
  background-blend-mode: overlay;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}
.header{
  position: fixed;
  top: 0;
  background: var(--color-banner);
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.logo{
  display: inline-flex; 
  gap: 1rem;
  height: 7vh;
}
.logo-name{
  text-align: center;
  font-size: 5vh;
  color: var(--color-sidebar);
  /* margin-left: 1rem; incase logo gap doesn't work on mobile browsers */
}
.logo-ico img{
  width: 7vh;
  height: 7vh;
  border-radius: 0.9rem;
}
.sidebar{
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  width: 65vmin;
  height: 100vh;
  background: var(--bg-sidebar);
  color: var(--color-sidebar);
  box-shadow: var(--timer-box);
  overflow: hidden;
  transition: left .02s ease-in;
  backdrop-filter: blur(1px);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.sidebar-content{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 5vmin;
}
.sidebar-show{
  left: 0%;
}
.sidebar-hide{
  left: -100%;
}
.nav,.sidebar-close{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.4rem;
  border-radius: 1vmin;
  border: 0.13rem solid white; 
}
.sidebar-close{
  right: 0%;
  position: absolute;
}
.nav{
  width: 6vh;
  height: 6vh;
  color: var(--color-sidebar);
  margin-left: 5vmin;
}
.brand{
  display: flex;
  width: 100%;
  margin: 3vmin 0 3vmin 4vmin;
}
.brand-name{
  align-self: center;
  font-size: 1.3em;
  margin-left: 2vmin;
}
.brand-logo img{
  width: 13vmin;
  height: 13vmin;
  border-radius: 5vmin;
}
.opt-group{
  color: rgba(255, 255, 255, 0.575);
  font-size: 0.7rem;
  align-self: center;
  width: 90%;
  margin: 5vmin 0 1vmin 0vmin;
}
hr{color:rgba(255, 255, 255, 0.2); width: 85%;}
.sidebar-list{
  width: 90%;
}
.sidebar-list-items{
  padding: 2.5vmin 0vmin 2.5vmin 4vmin;
  border-radius: 2.5vmin;
  margin: 0.5rem auto;
}
.sidebar-list-items:hover{
  background: var(--bg-sidebarListHover);
}
.pick-color{
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
  display: none;
  width: 90%;
  margin: 0.7rem;
}
.pick-color-ico{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  border: white solid 2px;
}
.pick-color-ico:nth-child(1){
  background: #fe2164;
  outline: #fe2164 solid 2px;
}
.pick-color-ico:nth-child(6){
  background: #7b68ee;
  outline: #7b68ee solid 2px;
}
.pick-color-ico:nth-child(4){
  background: #1cb65d;
  outline: #1cb65d solid 2px;
}
.pick-color-ico:nth-child(5){
  background: #2f8bfc;
  outline: #2f8bfc solid 2px;
}
.pick-color-ico:nth-child(3){
  background: #ffc000;
  outline: #ffc000 solid 2px;
}
.pick-color-ico:nth-child(2){
  background: #e685b5;
  outline: #e685b5 solid 2px;
}
.show-color{
  display: inline-flex;
}

main{
  width: 100vw;
  height: 100vh;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
  overflow-x: hidden;
  padding-top: 13vh;
}

.mode-info {
  background: var(--bg-color);
  border-radius: 0.3rem;
  color: var(--color-text);
  padding: 0.2rem 0.8rem;
  -webkit-animation: slide-in 0.2s ease-in forwards, fade-out 2s ease 0.9s forwards;
          animation: slide-in 0.2s ease-in forwards, fade-out 2s ease 0.9s forwards;
  position: fixed;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  z-index: 100;
}

.light .mode-info {
  background: aliceblue;
}
@keyframes slide-in {
  to {
    top: 2rem;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
a{
    text-decoration: none; color: inherit;
}

.toggleMode {
  font-size: 1.4em;
  right: 0.8rem;
  top: 0.3rem;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-modeToggle);
  color: #f2e7ac;
  z-index: 1;
  margin-right: 5vmin;
}

.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 5vmin;
  text-align: center;
  width: 100%;
}

.banner {
  padding: 0.5em 1rem;
  border-radius: 0.1em;
  min-width: 80vmin;
  color: var(--color-text);
  border-bottom: 0.5rem solid var(--color-banner);
}
.day{
  font-size: 1.7em;
  color: var(--color-text);
}

.clock-row {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
  padding: 10px;
  gap: 5vmin;
}

.timer{
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36vmin;height: 35vmin;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: .7em;
  background: linear-gradient(90deg,var(--color-muted) 50%, var(--timer-grad) 50%);
  margin-bottom: 1rem;
  backdrop-filter: blur(1px);
  color: var(--color-text);
}
.light .timer{
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: var(--timer-box);
}
.timer-num{
  font-size: 13vmin;
}
.timer-text{
  content: "";
  position: absolute;
  bottom: -1em;
  background: var(--bg-timer);
  border-radius: 0.3em;
  padding: .5em;
  text-align: center;
  width: 18vmin;
  overflow: clip;
  transition: background-color 0.2s ease;
}
.light .timer-text{
  box-shadow: var(--timer-box);
}
/* desktop */
@media screen and (min-width: 750px) and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
  .container{
    gap: 4em;
  }
  .banner {
    width: 21em;
  }
  .clock-row {
    font-size: 25vmin;
    flex-direction: row;
    gap: 10vmin;
  }
}
/* mobile and small screens */
@media screen and (max-width: 427px) {
  .container{
    gap: 1.6em;
  }
  .logo-name{
    display: none;
  }
  .timer-text{
    font-size: 0.75rem;
  }
  .sidebar{
    width: 75vmin;
  }
  .new-item{
    bottom: 10vh;
  }
}