.notification {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 99;
    position: absolute;
    padding-top: min(calc(var(--num) * 10vmin),
            calc(var(--num) * 3.5rem));
}

.notification_msg {
    width: 80vmin;
    padding: min(2vmin, 0.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
    position: relative;
}

.notification_close {
    position: absolute;
    right: 3%;
    padding: 1.2vmin 2.2vmin;
}

@media screen and (max-width: 427px) {
    .notification {
        padding-top: min(calc((1.5 * var(--num)) * 10vmin),
                calc((1.3 * var(--num)) * 2.5rem));
    }

    .notification_msg {
        width: 90vmin;
        padding: min(3vmin, 0.5rem);
    }
}

/* error */
.notification--error .notification_msg {
    background: #f8d7da;
    color: #842029;
}

/* info */
.notification--info .notification_msg {
    background: rgb(175, 245, 175);
    color: #00882f;
}