@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
/* basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* mode variables */
:root{
  --color-muted: rgba(255, 255, 255, 0.15);
  --color-banner: #7b68ee;
  --timer-grad: rgba(255, 255, 255, 0.5);
  --bg-url: url("img/bg.svg");
  --bg-sidebar: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: #7b68ee;
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
  --color-sidebar: white;
}
.dark{
  --bg-color: #1b182c;
  --color-text: white;
  --bg-timer: #474650;
}
.light {
  --bg-color: #dbdbdb;
  --color-muted: rgba(255, 255, 255, 0.3);
  --color-text: rgb(0, 23, 53);
  --color-text: var(--color-banner);
  --bg-timer: whitesmoke;
  --timer-grad: rgba(255, 255, 255, 0.8);
  --timer-box: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
body {
  background: var(--bg-url) var(--bg-color) center no-repeat fixed;
  background-size: cover;
  background-blend-mode: overlay;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}
main{
  width: 100vw;
  height: 100vh;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
  overflow-x: hidden;
}

.mode-info {
  background: #05172b;
  border-radius: 0.3rem;
  color: var(--color-text);
  padding: 0.2rem 0.8rem;
  -webkit-animation: slide-in 0.2s ease-in forwards, fade-out 0.5s ease 0.9s forwards;
          animation: slide-in 0.2s ease-in forwards, fade-out 0.5s ease 0.9s forwards;
  position: absolute;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  z-index: 4;
}

.light .mode-info {
  background: aliceblue;
}

a{
    text-decoration: none; color: inherit;
}

.toggleMode {
  font-size: 1.4em;
  right: 0.8rem;
  top: 0.3rem;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-modeToggle);
  z-index: 1;
  margin-right: 5vmin;
}

.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 5vmin;
  text-align: center;
  width: 100%;
}

.banner {
  padding: 0.5em 1rem;
  border-radius: 0.1em;
  min-width: 80vmin;
  color: var(--color-text);
  border-bottom: 0.5rem solid var(--color-banner);
}
.banner-h2{
  font-size: 0.7em;
  font-weight: lighter;
  letter-spacing: 0.3em;
}
.day{
  font-size: 1.7em;
}

.clock-row {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
  padding: 10px;
  gap: 1rem;
}

.timer{
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36vmin;height: 35vmin;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: .7em;
  background: linear-gradient(90deg,var(--color-muted) 50%, var(--timer-grad) 50%);
  margin-bottom: 1rem;
  backdrop-filter: blur(1px);
}
.light .timer{
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: var(--timer-box);
}
.timer-num{
  font-size: 13vmin;
}
.timer-text{
  content: "";
  position: absolute;
  bottom: -1em;
  background: var(--bg-timer);
  border-radius: 0.3em;
  padding: .5em;
  text-align: center;
  width: 18vmin;
  overflow: clip;
  transition: background-color 0.2s ease;
}
.light .timer-text{
  box-shadow: var(--timer-box);
}
/* desktop */
@media screen and (min-width: 750px) and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
  .container{
    gap: 4em;
  }
  .banner {
    width: 21em;
  }
  .clock-row {
    font-size: 25vmin;
    flex-direction: row;
    gap: 2rem;
  }
  .clock-row::after,
  .clock-row::before {
    width: 1.8em;
    height: 1.8em;
  }
  .controls-row {
    flex-flow: row nowrap;
    gap: 4em;
  }
}
/* mobile and small screens */
@media screen and (max-width: 427px) {
  .container{
    gap: 1.6em;
  }
  .logo-name{
    display: none;
  }
  .timer-text{
    font-size: 0.75rem;
  }
  .sidebar{
    width: 75vmin;
  }
  .new-item{
    bottom: 10vh;
  }
}