/* generic */
.pop-up-container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 10;
}
.pop-up-form{
    position: relative;
    width: 80vmin;
    height: 80vmin;        
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background: #f0f0f0;
    box-shadow: var(--timer-box);
    border-radius: 0.2rem;
    gap: 3vmin;
    color: var(--color-banner);
}
.form-header{
    position: absolute;
    top: 5vmin;
    font-size: 6vmin;
    text-transform: uppercase;
    font-weight: bold;
}
.close-form{
    position: absolute;
    bottom: 3vmin;
}
.close-form button{
    padding: 1.5vmin 3vmin;
    border-radius: .3rem;
    border: solid 1px var(--color-banner); 
    color: var(--color-banner);
}

/* create countdown form */
input[type="text"],input[type="datetime-local"]{
    width: 50vmin;
    padding: 2vmin;
    border-radius: 2vmin;
    border: var(--color-banner) solid 1px;
    outline: none;
}
input[type="submit"],.reset button{
    padding: 1.5vmin 3vmin;
    border-radius: .3rem;
    border: none;  
    background: var(--color-banner); 
    color: white;
}
input[type="submit"]:hover,.reset button:hover{
    background: var(--color-banner);
    filter:saturate(1.5);
}
.form-sections{
    display: inline-flex;
    flex-direction: column;
    gap: 2vmin;
}

/* upload image form */
.bg-presets {
    display: flex;
    width: 82%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    gap: 1vmin;
}
.bg-presets-preview {
    width: 16vmin;
    height: 16vmin;
}
.bg-presets-preview img {
    width: 16vmin;
    height: 16vmin;
}
label[for="upload"] {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}
label[for="upload-info"] {
    font-size: 0.6rem;
    font-style: italic;
}
input[type="file"] {
    display: none;
    appearance: none;
}

/* mobile and small screens */
@media screen and (max-width: 427px) {
    .pop-up-form {
        height: 90vmin;
    }
}