@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
/* basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mode variables */
:root {
  --color-bg: #182635;
  --color-muted: rgba(255, 255, 255, 0.15);
  --color-banner: #2f8bfc;
  --color-text: hsl(0deg, 0%, 100%);
  --timer-bg: #6a7682;
  --timer-grad: rgba(255, 255, 255, 0.5);
  --bg-url: url("img/bg-light.svg");
}
.light {
  --color-bg: #dfdfdf;
  --color-muted: rgba(255, 255, 255, 0.3);
  --color-text: rgb(0, 23, 53);
  --color-text: var(--color-banner);
  --timer-bg: whitesmoke;
  --timer-grad: rgba(255, 255, 255, 0.8);
  --timer-box: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  /* --bg-url: url("img/bg-light.svg"); */
}

body {
  background: var(--bg-url) var(--color-bg) center no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}
main{
  width: 100vw;
  height: 100vh;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
  overflow-x: hidden;
}

.mode-row {
  position: relative;
  width: 100vw;
}

.mode-info {
  background: #05172b;
  border-radius: 0.3rem;
  color: var(--color-text);
  padding: 0.2rem 0.8rem;
  -webkit-animation: slide-in 0.2s ease-in forwards, fade-out 0.5s ease 0.9s forwards;
          animation: slide-in 0.2s ease-in forwards, fade-out 0.5s ease 0.9s forwards;
  position: absolute;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
}

.light .mode-info {
  background: aliceblue;
}

.link{
  color: var(--color-text);
  text-decoration: none;
}
@-webkit-keyframes slide-in {
  to {
    top: 2rem;
  }
}
@keyframes slide-in {
  to {
    top: 2rem;
  }
}
@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.toggleMode {
  font-size: 1.4em;
  position: absolute;
  right: 0.8rem;
  top: 0.3rem;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3971b7;
  color: #f2e7ac;
}

.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  width: 100%;
}

.banner {
  background-color: var(--color-banner);
  padding: 0.5em 1rem;
  border-radius: 0.3em;
  min-width: 80vmin;
  color: white;
}
.banner-h2{
  /* font-style: italic; */
  font-size: 0.7em;
  font-weight: lighter;
  letter-spacing: 0.3em;
}
.day{
  font-size: 1.77em;
}

.clock-row {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  /* height: 30vh; */
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
  padding: 10px;
  gap: 1rem;
}

.timer{
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vmin;
  height: 25vmin;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: .7em;
  background: linear-gradient(90deg,var(--color-muted) 50%, var(--timer-grad) 50%);
  margin-bottom: 1rem;
}
.light .timer{
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: var(--timer-box);
}
.timer-num{
  font-size: 13vmin;
}
.timer-text{
  content: "";
  position: absolute;
  bottom: -1em;
  background: var(--timer-bg);
  border-radius: 0.3em;
  padding: .5em;
  text-align: center;
  width: 18vmin;
  overflow: clip;
  transition: background-color 0.2s ease;
}
.light .timer-text{
  box-shadow: var(--timer-box);
}

.controls-row {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 5vh;
  gap: 1em;
  width: 100vw;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.button {
  background: linear-gradient(-45deg, #0756b5, #80affa);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border-top: 1px rgba(7, 85, 181, 0.25) solid;
  -webkit-animation: bg 3s ease infinite alternate;
          animation: bg 3s ease infinite alternate;
  min-width: 16em;
  height: 2.2em;
  margin: 0.2em;
  position: relative;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10%;
  top: 0;
  left: 2%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: 54% 46% 69% 31% / 57% 0% 100% 43%;
}

.author{
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 0.7em;
  color: var(--color-text)
}

.author:hover{
  color: var(--color-banner)
}
@-webkit-keyframes bg {
  from {
    -webkit-filter: hue-rotate(-25deg);
            filter: hue-rotate(-25deg);
  }
  to {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }
}

@keyframes bg {
  from {
    -webkit-filter: hue-rotate(-25deg);
            filter: hue-rotate(-25deg);
  }
  to {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }
}
/* desktop */
@media screen and (min-width: 750px) and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
  
  .banner {
    width: 21em;
    /* padding: 1em 5rem; */
  }
  .clock-row {
    font-size: 25vmin;
    flex-direction: row;
    gap: 2rem;
  }
  .clock-row::after,
  .clock-row::before {
    width: 1.8em;
    height: 1.8em;
  }
  .controls-row {
    flex-flow: row nowrap;
    gap: 4em;
  }
}
/* mid-range */
/* @media screen and (min-width: 415px) {
  .banner{
    width: 90vmin;
  }
} */
/* mobile and small screens */
@media screen and (max-width: 415px) {
  .banner{
    font-size: 1.1rem;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .container {
    gap: 0;
  }
  .timer-text{
    font-size: 0.75rem;
  }
}