[data-theme="blue"] {
    --color-banner: #2f8bfc;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: rgba(47, 139, 252, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="blue"] {
    --bg-color: #182635;
    --color-text: white;
    --bg-timer: #56636f;
    --bg-cdList: #3f4d61;
    --bg-cdListHover: #384557;
    --bg-newItem: var(--color-banner);
}
[data-theme="green"] {
    --color-banner: #1cb65d;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: rgba(28, 182, 92, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="green"] {
    --bg-color: #18351e;
    --color-text: white;
    --bg-timer: #506b51;
    --bg-cdList: #3a644c;
    --bg-cdListHover: #2a553d;
    --bg-newItem: var(--color-banner);
}
[data-theme="red"] {
    --color-banner: #fe2164;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: rgba(254, 33, 99, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="red"] {
    --bg-color: #35181d;
    --color-text: white;
    --bg-timer: #826a6a;
    --bg-cdList: #4e383d;
    --bg-cdListHover: #462f35;
    --bg-newItem: var(--color-banner);
}
[data-theme="purple"] {
    --color-banner: #7b68ee;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: hsla(249, 80%, 67%, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="purple"] {
    --bg-color: #1b182c;
    --color-text: white;
    --bg-timer: #474650;
    --bg-cdList: #3b3b50;
    --bg-cdListHover: #303041;
    --bg-newItem: var(--color-banner);
}
[data-theme="yellow"] {
    --color-banner: #ffc000;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: rgba(255, 191, 0, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="yellow"] {
    --bg-color: #352e19;
    --color-text: white;
    --bg-timer: #746b50;
    --bg-cdList: #584f31;
    --bg-cdListHover: #504727;
    --bg-newItem: var(--color-banner);
}
[data-theme="pink"] {
    --color-banner: #e685b5;
    --color-text: var(--color-banner);
    --bg-modeToggle: rgba(0, 0, 0, 0.2);
    --bg-sidebar: rgba(230, 132, 181, 0.95);
    --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
    --bg-newItem: white;
}
.dark[data-theme="pink"] {
    --bg-color: #472a39;
    --color-text: white;
    --bg-timer: #8b7982;
    --bg-cdList: #644e59;
    --bg-cdListHover: #58464f;
    --bg-newItem: var(--color-banner);
}
