[data-theme="blue"] {
  --color-banner: #2f8bfc;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: rgba(47, 139, 252, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="blue"] {
  --bg-color: #182635;
  --color-text: white;
  --bg-timer: #6a7682;
  --bg-cdList:#6ea8fe;
  --bg-cdListHover: #3d8bfd;
}
[data-theme="green"] {
  --color-banner: #1cb65d;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: rgba(28, 182, 92, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="green"] {
  --bg-color: #18351e;
  --color-text: white;
  --bg-timer: #6a826b;
  --bg-cdList:#2fc26c;
  --bg-cdListHover: #17a753;
}
[data-theme="red"] {
  --color-banner: #fe2164;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: rgba(254, 33, 99, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="red"] {
  --bg-color: #35181d;
  --color-text: white;
  --bg-timer: #826a6a;
  --bg-cdList: #e63f63;
  --bg-cdListHover: #f71a5c;
}
[data-theme="purple"] {
  --color-banner: #7b68ee;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: hsla(249, 80%, 67%, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="purple"] {
  --bg-color: #1b182c;
  --color-text: white;
  --bg-timer: #474650;
  --bg-cdList: #8f7cf8;
  --bg-cdListHover: #735fe7;
}
[data-theme="yellow"] {
  --color-banner: #ffc000;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: rgba(255, 191, 0, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="yellow"] {
  --bg-color: #352e19;
  --color-text: white;
  --bg-timer: #80826a;
  --bg-cdList:#ffcd39;
  --bg-cdListHover: #f3b806;
}
[data-theme="pink"] {
  --color-banner: #e685b5;
  --color-text: var(--color-banner);
  --bg-modeToggle: rgba(0, 0, 0, 0.2);
  --bg-sidebar: rgba(230, 132, 181, 0.95);
  --bg-sidebarListHover: rgba(0, 0, 0, 0.1);
}
.dark[data-theme="pink"] {
  --bg-color: #472a39;
  --color-text: white;
  --bg-timer: #8b7982;
  --bg-cdList: #efadce;
  --bg-cdListHover: #e27caf;
}